.stage-direction{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color:antiquewhite;

}
.stage-direction:hover{
    background-color: peru;
    color: firebrick;
}
.name{
    color: rgb(175, 26, 26);
    font: large;
    font-family: 'Times New Roman', Times, serif;
}
.name:hover{
    color: black;
    font: large;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px orangered;
    filter: blur(1px);
    border: salmon;
}

/*Speech styling*/
.caroline{
    color:blue;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hester{
    color: green;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hunstanton{
    color:red;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gerald{
    color: maroon;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Table styling*/
table{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    width: 60%;
}
th{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    text-align: center;
}
td {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    text-align: left;
}
tr{
    background-color: green;
}
tr:nth-child(even){
    background-color: red;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: block;
    color: royalblue;
    padding: 10px;
    background-color: snow;
}
li a:hover{
    background-color:springgreen;
}